<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383915876356-up2f6ancmhn1l0u8ftghi3bbg4ri62n2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383915876356-up2f6ancmhn1l0u8ftghi3bbg4ri62n2</string>
	<key>API_KEY</key>
	<string>AIzaSyCuXia16GdUyrjZp0nQKYXwxhhooR3r9Tk</string>
	<key>GCM_SENDER_ID</key>
	<string>383915876356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.supppro</string>
	<key>PROJECT_ID</key>
	<string>supppro-55862</string>
	<key>STORAGE_BUCKET</key>
	<string>supppro-55862.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383915876356:ios:6ffd05852acbe7f2491551</string>
</dict>
</plist>