<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810640539949-eqre9f60pbmjabjlepah57bd2os40jjk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810640539949-eqre9f60pbmjabjlepah57bd2os40jjk</string>
	<key>API_KEY</key>
	<string>AIzaSyDzp9WmZLmtCSYkIYl7scMAUYZ8aWoJGRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>810640539949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.supppro</string>
	<key>PROJECT_ID</key>
	<string>windy-gizmo-378702</string>
	<key>STORAGE_BUCKET</key>
	<string>windy-gizmo-378702.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810640539949:ios:13edea3e5b9687d27ed3a4</string>
</dict>
</plist>